@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	margin: 0;
	padding; 0;
	
}
body h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}
body p,a,span{
	font-family: 'Roboto', sans-serif;
}
.continer{
	width: 1170px;
	margin: auto;
}
header {
    background: white;
    border-bottom: 2px solid black;
    box-shadow: 0px -3px 6px 3px black;
}
nav{
	width: 1170px;
	margin: auto;
	overflow: hidden;
}
.main_logo {
    width: 250px;
    height: 70px;
    font-size: 52px;
    margin: 0px;
    float: left;
    color: black;
    margin-top: 3px;
    font-family: cursive;
}

ul{
    width: 579px;
    float: right;
    list-style: none;
}
ul li{
    display: inline-block;
    padding: 29px 20px;
    padding-left: 35px;
    margin-left: 0px;
}
ul li a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s;
    color: black;
    font-size: 16px;
    position: relative;
}
ul li a:hover{
	color: #ff002f;
	
}
ul li a::before{
	content: "";
	height: 15%;
	width: 100%;
	background: #ff002f;
	position: absolute;
	top: 236%;
	left: 0%;
	opacity: 0;
	transition: all 1s;
}
ul li a:hover::before{
		opacity: 1;
}
#whoIam{
	overflow: hidden;
	padding: 40px 0px;
}
.whoIam_left {
    width: 585px;
    float: left;
}
.whoIam_left p{
    padding: 22px 0px;
    font-size: 20px;
    font-weight: 400;
}
.whoIam_left h1{
    font-size: 60px;
    font-weight: bold;
    line-height: 70px;
}
.nameColor{
	color: #ff002f;
}

.whoIam_right {
    width: 585px;
    float: right;
}
.whoIamImg img {
    height: 280px;
    width: 92%;
    margin-top: 5px;
}
#aboutIam{
	overflow: hidden;
	padding: 30px 0px;
}
.about_leftSide {
    width: 585px;
    float: left;
    padding: 39px 0px;
}
.about_leftSide h1{
	padding-bottom: 20px;
	position: relative;
}
.about_leftSide h1::before{
	content:"";
	top: 32px;
	right: 538px;
	background: #000000;
	position: absolute;
	width: 8%;
	height: 7%;
}
.about_leftSide span{
    font-size: 20px;
}
.about_leftSide p{
    font-size: 15px;
    padding: 10px 0px;
    font-weight: 500;
}

.about_rightSide {
    width: 585px;
    float: right;
}
button.aboutMe_button {
    background: #ff002f;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    margin-right: 11px;
    border: none;
    border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
}
button.aboutMe_button:hover {
	background: white;
    color: #ff002f;
	padding: 3px 20px;
    margin-right: 11px;
    border: 2px solid #ff002f;
    border-radius: 5px;
	cursor: pointer;
}
button.aboutMe_button:first-child{
	margin-left: 0px;
}
.about_leftSide_img img{
    height: 421px;
    background: #eedda940;
    margin-left: 206px;
    box-shadow: 10px 10px 0px 10px #ff002f;
}
.service_titleBar{
    text-align: center;
    margin-left: 350px;
    width: 500px;
    padding: 40px 0px;
}
.service_titleBar h1{
	display: inline-block;
	position: relative;
	padding-bottom: 15px;
}
.service_titleBar h1::before{
	content:"";
	top: 29px;
	right: 22px;
	background: #000000;
	position: absolute;
	width: 55%;
	height: 6%;
}
.serviceBox_1{
	width: 270px;
	float: left;
	padding: 20px 20px;
	margin: 0px 48px;
	text-align: center;
	box-shadow: 0px 0px 17px 0px #00000091;
}
.serviceBox_1 i{
    color: white;
    font-size: 41px;
    padding-bottom: 10px;
    background: #d2d2d2;
    padding: 11px 14px;
    border-radius: 50%;
}
.serviceBox_1 h2{
    padding: 10px 10px;
}
.serviceBox_1:last-child{
	margin-right: 0px;
}
